<footer class="site-footer h-card" z-index="-1">
  <data class="u-url" href='{{ "/" | relative_url }}'></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <a href="https://github.com/minoseah629" target="_blank" rel="noreferrer noopener"><svg class="svg-icon">
        <use xlink:href="/assets/minima-social-icons.svg#github"></use>
      </svg></a>
    <a href="https://www.linkedin.com/in/minoseah629" target="_blank" rel="noreferrer noopener">
      <svg class="svg-icon">
        <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
      </svg>
    </a>
  </div>
</footer>