<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    <!-- you can include other files from _includes. -->
    {%- include header.html -%}     

    <main class="page-content" aria-label="Content">
      <div class="container">
        <div class="row">
          <div class="col-md-3">            
          </div>
          <div class="col-md-9">
            <div class="wrapper">
              {{ content }} 
            </div>
          </div>          
        </div>
      </div>      
    </main>

    {%- include footer.html -%}
<script>
$(document).ready(() => {
  var toc = $("#markdown-toc");
  if (toc != null)
  {
    var nav = $("div.col-md-3");
    toc.appendTo(nav);
  }
  return;
});

</script>
  </body>
</html>
